{% extends "base.html" %}
{% block title %} Авторизация {% endblock %}
{% block content %}
    <div class="text-on-site flex flex-horizontal-center" > Введите логин и пароль для входа </div>

    <form action="." method="post">

        <div class="container_form">


            <div>
                {{form.username}}
            </div>

            <div>
                {{form.password}}
            </div>

        </div>
        <div class="flex flex-horizontal-center">
            <input  class="submit_button" type="submit" value="Войти">
        </div>
        {% csrf_token %}
    </form>

{% endblock %}