{% extends "base.html" %}

{% block title %}Create an account {% endblock %}

{% block content %}
<div class="flex flex-horizontal-center">
    <h1> Пожалуйста зарегистрируйте аккаунт :</h1>
</div>
<form  action="." method="post">

    <div class="container_form">
        <div>
            {{ user_form.username}}
        </div>
        <div>
            {{ user_form.first_name}}
        </div>

        <div>
            {{ user_form.password}}
        </div>
        <div>
            {{ user_form.password2}}
        </div>
        <div>
            {{ user_form.email}}
        </div>
    </div>

    <div class="flex flex-horizontal-center">
         <input class="submit_button" type="submit" value="Создать аккаунт">
    </div>
    {% csrf_token %}
</form>
{% endblock %}