<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel='stylesheet' href="{% static 'css/looks.css' %}">
    <link rel='stylesheet' href="{% static 'css/flex.css' %}">
    <link rel='stylesheet' href="{% static 'css/classes.css' %}">

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
</head>
<body>

<div class="navbar flex">
    <ul class="flex-container flex flex-horizontal-center">
        <li class="navitem flex flex-center"><a href="#"> Оборудование </a></li>
        <li class="navitem flex flex-center"><a href="#"> Материалы </a></li>
        <li class="navitem flex flex-center"><a href="#"> Инструменты </a></li>
        <li class="navitem flex flex-center"><a href="#"> Обслуживание </a>
        <li class="navitem flex flex-center"><a href="#"> Документация </a></li>
        <li class="navitem flex flex-center"><a href="#"> Вакансии </a></li>
        <li class="navitem flex flex-center"><a href="#"> Как добраться </a></li>
        <li class="navitem flex flex-center"><a href="#"> Контакты </a></li>
    </ul>
</div>

<div class="wrapper">
    <div class="image-slider swiper-container">
        <div class="image-slider__wrapper swiper-wrapper">
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <!-- Первая каротинка свайпера-->
                    <picture class="picture_container">
                        <source srcset="{% static 'img/anime1.png' %}" media="(min-width:1200px)"/>
                       <a href="/repair"> <img src="{% static 'img/anime1_small.png' %}" alt="Картинка"/> </a>
                    </picture>

                </div>
            </div>

            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image ">
                    <!-- Вторая картинка свайпера-->
                    <picture>
                        <source srcset="{% static 'img/anime2.jpg' %}" media="(min-width:1200px)"/>
                        <img src="{% static 'img/anime2_small.jpg' %}" alt="Картинка"/>
                        <a class="text-on-site" href="/looks"> Внешний вид </a>
                    </picture>
                </div>
            </div>

            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <!-- Третья картинка свайпера-->
                    <picture>
                        <source srcset="{% static 'img/anime3.jpg' %}" media="(min-width:1200px)"/>
                        <img src="{% static 'img/anime3_small.jpg' %}" alt="Картинка"/>
                        <a class="text-on-site" href="/tech"> Технологии строительства дорог</a>
                    </picture>
                </div>
            </div>
        </div>

        <!-- <div class="swiper-pagination"></div> -->


    </div>
</div>

<script src="{% static 'js/main.js' %}"></script>

<div> {% block content %}{% endblock %}</div>
</body>
</html>

