<!DOCTYPE html>
{% load static %}
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <link rel='stylesheet' href="{% static 'css/looks.css' %}">
    <link rel='stylesheet' href="{% static 'css/flex.css' %}">
    <link rel='stylesheet' href="{% static 'css/classes.css' %}">

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
</head>
<body>

<div class="navbar flex flex-horizontal-center">
    <ul class="flex-container flex flex-horizontal-center">
        <li class="navitem flex flex-center"><a href="#"> Технологии устранения дефектов дорожного покрытия, ямочный
            ремонт,
            санация трещин </a></li>
        <li class="navitem flex flex-center"><a href="#"> Технологии содержания, декорации и благоустройства дорожных
            покрытий </a></li>
        <li class="navitem flex flex-center"><a href="#"> Технологии строительства дорожных покрытий </a></li>
        <li class="navitem flex flex-center"><a href="#"> Нормативная и техническая документация </a></li>
    </ul>
</div>

<div class="wrapper">
    <div class="image-slider swiper-container">
        <div class="image-slider__wrapper swiper-wrapper">
            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <!-- ТУТ КАРТИНКУ-->
                    <img src="{% static 'img/anime1.png' %}" alt="Картинка" width="" height="">
                </div>
            </div>

            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image ">
                    <!-- ТУТ КАРТИНКУ-->
                    <img src="{% static 'img/anime2.jpg' %}" alt="Картинка">
                </div>
            </div>

            <div class="image-slider__slide swiper-slide">
                <div class="image-slider__image">
                    <!-- ТУТ КАРТИНКУ-->
                    <img src="{% static 'img/anime3.jpg' %}" alt="Картинка" >
                </div>
            </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- <div class="swiper-pagination"></div> -->

        <div class="swiper-scrollbar"></div>
    </div>
</div>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>

