{% extends "base.html" %}
{% block title %} Авторизация {% endblock %}
{% block content %}


<div class="login_wrapper">
    <form class="container_login" action="." method="post">
    <h1 class="manrope"> Вход </h1>

        {{form.username}}
        {{form.password}}
        <div style="display:flex;flex-direction:row; align-items:center;justify-content:center;gap:30px;flex-wrap:wrap;">
            <input  class="submit_button" type="submit" value="Войти">
            <a class="manrope" href="/register"> Регистрация </a>
        </div>
        {% csrf_token %}
    </form>
{% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
{% endif %}

</div>

<style>
html{
  background: #BBF3FF;
}
</style>
{% endblock %}