{% extends "base.html" %}

{% block title %}Create an account {% endblock %}

{% block content %}

<div class="login_wrapper">
    <form class="container_login" action="." method="post">
    <h1 class="manrope"> Пожалуйста зарегистрируйте аккаунт:</h1>
            {{ user_form.username}}

            {{ user_form.first_name}}

            {{ user_form.password}}

            {{ user_form.password2}}

            {{ user_form.email}}
         <input class="submit_button flex" type="submit" value="Создать аккаунт">
    {% csrf_token %}
    </form>
</div>

<style>
html{
  background: #BBF3FF;
}
</style>
{% endblock %}