{% extends "base.html" %}
{% block title %} Вход {% endblock %}
{% block content %}

<div class="wrapper_form">
    <form action="." method="post">

        <div class="container_form">


            <div>
                {{form_article.article_id}}
            </div>

            <div>
                {{form_article.date}}
            </div>
            <div>
                {{form_article.article_name}}
            </div>

        </div>
        <div class="container_form_content">
            <div>
                    {{form_article.content}}
            </div>
        </div>

            <input type="submit" value="Сохранить">


        {% csrf_token %}

    </form>

</div>
{% endblock %}